body{
    background-color: #f2f2f2;
}

#timer{
    position: relative;
    float: right;
    color: blue;
    font-size: 40pt;
    display: none;
  }

#scoreboard{
        position:relative;
        color: blue;
        font-size: 40pt;
        display: none;
    }

.title{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#egg{
    color: #f2f2f2;
    width: 70px;
    position: absolute;
    right: 25%;
    display: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #egg:hover{
    color: darkgreen;
  }

  .dirtyPol{
      background-color: black;
      height: 20px;
      width: 20px;
      position: fixed;
  }

  #cursor{
    position: absolute;
     height: 200px;
     width: 200px;
     background-color: white;
     border-radius: 50%;
     z-index: -1;
   }