body{
  background-color: #f2f2f2;
  margin: 0px 0px 0px 0px;
}

h1{
  text-align: center;
  margin-bottom: 0px;
}

#slogan{
  text-align: center;
  line-height: 0px;
  margin-top: 10px;
  margin-left: 20px;
}

.pad{
  padding: 0px 15px;
}


.break{
  background-color: black;
  height: 2px;
  width: 100%;
}

h3{
  margin: 5px 0px 10px 0px;
}

.searchCand{
  padding: 0px 0px 0px 10px;
}

.tool{
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}

input{
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0px 0px 0px 10px;
  width: 50%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}

ul{
  list-style: none;
}

ul li:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}

#oninput-box-output li{
  padding: 0px 0px 5px 0px;
}

#oninput-box-output-ent li {
  padding: 0px 0px 5px 0px;
}

#cap{
  font-weight: bold;
  background-color: white;
  cursor: default;
}

#candidateInfo{
  display: none;
}

#topTenComp{
  margin-bottom: 0px;
}

#selectDesc{
  margin-top: 0px;
  font-style: italic;
}

.bad{
  font-weight: normal;
}

.bad:hover{
  background-color: white;
  cursor: default;
}

.good{
  font-weight: bold;
}

.good:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}

#entityInfo{
  display: none;
}

#lob{
  margin-bottom: 0px;
}

h4{
  padding: 0px 0px 0px 10px;
  margin-top: 0px;
}

#cursor{
 position: absolute;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

#egg{
  color: #f2f2f2;
  width: 70px;
  position: absolute;
  right: 25%;
}

#egg:hover{
  color: darkgreen;
}

footer{
  height: 100px;
}

svg > g > g:last-child { pointer-events: none };