body{  
  background-color: lightgray;
  @media only screen and (max-width: 600px) {
    body {
      background-color: white;
    }
  }
  }
  
  h1{
    text-align: center;
  }
  
  #slogan{
    text-align: center;
  }

  #cursor{
    position: absolute;
     height: 100px;
     width: 100px;
     background-color: white;
     border-radius: 50%;
     z-index: -1;
   }