body{
  background-color: #f2f2f2;
}

.break{
  background-color: black;
  height: 2px;
}

#tool{
  background-color: white;
  margin: 0px 0px;
  padding: 0px 0px;
}

h1{
  text-align: center;
}

#slogan{
  text-align: center;
}

#cursor{
 position: absolute;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

h3{
  padding: 10px 0px;
}
#search{
  padding: 0px 10px;
}